h1 {
  color: #00ff55;
  font-size: 250%;
}

p {
  text-indent: 25px;
  margin-left: 10px;
}

#content  {
  background-color: #878c87;
  width: 500px;
  min-hieght: 300px;
  padding: 10px;
  border: solid 5px #00ff55;
  font-size: 20px;
}
